/* ADMIN PAGE STYLES */
.admin {
    padding: var(--padding);
    background-color: rgb(239, 237, 237);
}
.admin-title,
.admin-supertitle,
.admin-subtitle {
    color: var(--color-dark);
    font-weight: 700;
    text-align: left;
}
.admin-supertitle {
    font-size: 64px;
    margin-bottom: 26px;
}
.admin-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
.admin-subtitle {
    font-size: 24px;
    margin-bottom: 34px;
}
.admin-text {
    font-size: 21px;
    line-height: 31px;
    margin-bottom: 10px;
}

/* LOGIN PAGE STYLES */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login .login-form {
    background-color: var(--color-white);
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
}
.login .login-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* BLOG STYLES */
.blog-content {
    background-color: var(--color-white);
    padding: 40px;
    border-radius: 10px;
}

.blog-table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

.form-blog {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-blog-action {
    display: flex;
    gap: 10px;
    justify-content: end;
}
.form-blog .form-thumbnail {
    aspect-ratio: 4/3;
    width: 100%;
    max-width: 20rem;
    object-fit: cover;
    margin-top: 10px;
}
