/* ==== VARIABLES ==== */
:root {
    --color-primary: #ea1d5d;
    --color-dark: #21243d;
    --color-verydark: #111321;
    --color-light: #8695a4;
    --color-body-text: #666666;
    --color-cloud: #edf7fa;
    --color-white: #ffffff;
    --navPadding: 14px 60px;
    --padding: 60px 30px;
    --paddingX: 30px;
    --paddingY: 60px;
    scroll-behavior: smooth;
}
/* ==== END VARIABLES ==== */

/* ==== GENERAL STYLES ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--color-body-text);
}

.section-title {
    font-size: 32px;
    color: var(--color-dark);
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    width: 100%;
}
.form-input:focus,
.form-input:valid {
    border: 2px solid var(--color-primary);
}
.form-invalid {
    color: red;
}

.btn {
    color: var(--color-white);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}
.btn.btn-primary {
    background-color: var(--color-primary);
}
.btn.btn-outline {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.feedback {
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}
.feedback.invalid {
    border: 1px solid red;
    background-color: #ffe6e6;
    color: red;
}
.feedback.valid {
    border: 1px solid green;
    background-color: #e6ffe6;
    color: green;
}

.table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}
.table tr td,
.table tr th {
    width: fit-content;
    text-align: left;
    padding: 15px 20px;
    white-space: nowrap;
    max-width: 30ch;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table thead {
    background-color: var(--color-dark);
    border-radius: 5px;
    color: var(--color-white);
}
.table tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}
.table tbody tr:nth-child(even) {
    background-color: #fff;
}
.table img {
    width: 80px;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 5px;
}
/* ==== END GENERAL STYLES ==== */

/* ==== NAVBAR STYLES ==== */
.navbar {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--navPadding);
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}
.navbar-link {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: var(--paddingY);
    top: -300px;
    background-color: white;
    left: 0;
    right: 0;
    z-index: -1;
    transition: all 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}
.navbar-link.show {
    top: 60px;
    z-index: 1;
}
.navbar .navbar-link .navbar-item a {
    font-weight: 500;
    text-decoration: none;
    color: var(--color-dark);
    display: inline-block;
}
.navbar .navbar-link .navbar-item.active a {
    color: var(--color-primary);
}
.navbar .navbar-logo,
.navbar .navbar-icon {
    z-index: 5;
}
.navbar .navbar-logo img {
    width: 167px;
}
.navbar .navbar-icon {
    cursor: pointer;
}
.navbar .navbar-icon img {
    width: 32px;
    height: 32px;
}
/* ==== END NAVBAR STYLES ==== */

/* ==== HERO STYLES ==== */
.hero {
    height: fit-content;
    background-image: url("/images/hero/img-banner.png");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    text-align: center;
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.hero .hero-title {
    margin: var(--paddingY) 0;
    font-size: 32px;
    font-weight: 700;
    color: var(--color-white);
    line-height: 1.5;
    color: var(--color-dark);
}
.hero .hero-title .hero-title-header {
    color: var(--color-primary);
    display: inline-block;
    margin-bottom: 1rem;
}
.hero .hero-image {
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 100%;
}
/* ==== END HERO STYLES ==== */

/* ==== ABOUT STYLES ==== */
.about {
    padding: var(--padding);
}
.about .about-text {
    text-align: center;
    font-size: 21px;
    line-height: 31px;
}
/* END ABOUT STYLES */

/* ==== BLOG STYLES ==== */
.blog {
    padding: var(--padding);
}
.blog-list .blog-list-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.blog-list .blog-list-head > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.blog-list .blog-list-all {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}
.blog-card {
    width: 100%;
    max-width: 483px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
}
.blog-card.blog-card-content {
    display: flex;
    gap: 10px;
}
.blog-card .blog-card-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 4px;
    object-fit: cover;
}
.blog-card .blog-card-date {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-light);
}
.blog-card .blog-card-title {
    font-size: 32px;
    font-weight: 600;
    color: var(--color-dark);
    line-height: 38px;
}
.blog-card .blog-card-short {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-body-text);
}
/* ==== END BLOG STYLES ==== */

/* ==== CONTACT US STYLES ==== */
.contact {
    padding: var(--padding);
    background-color: var(--color-dark);
    color: var(--color-white);
}
.contact .section-title {
    color: var(--color-white);
}
.contact .contact-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 145px;
}
.contact-media {
    text-align: center;
}
.contact-media .media-img {
    width: 56px;
    height: 56px;
    margin-bottom: 28px;
}
.contact-media .media-handle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
}
/* ==== END CONTACT US STYLES ==== */

/* ==== BLOG PAGE ==== */
.blog-page {
    padding: var(--padding);
}
.blog-page .blog-meta {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    gap: 1rem;
}
.blog-page .blog-meta-info {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}
.blog-page .blog-title {
    font-size: 32px;
    font-weight: 600;
    color: var(--color-dark);
    line-height: 38px;
}
.blog-page .blog-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 4px;
    object-fit: cover;
}
.blog-page .blog-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-body-text);
}
/* ==== END BLOG PAGE ==== */

/* ==== FOOTER STYLE ==== */
.footer {
    padding: var(--padding);
    background-color: var(--color-verydark);
    gap: 62px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75.5px;
}
.footer .footer-logo {
    width: 167px;
    height: 52px;
}
.footer .footer-link,
.footer .footer-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footer .footer-media img {
    width: 28px;
    height: 28px;
}
.footer .footer-link a {
    color: var(--color-cloud);
    text-decoration: none;
}
/* ==== END FOOTER STYLE ==== */

/* ==== **** TABLET STYLES - 768px **** ==== */
@media screen and (min-width: 768px) {
    /* VARIABLES */
    :root {
        --padding: 60px 60px;
        --paddingX: 60px;
        --paddingY: 60px;
    }
    /* END VARIABLES */

    /* ==== GENERAL STYLES ==== */
    .section-title {
        font-size: 40px;
    }
    /* ==== END GENERAL STYLES ==== */

    /* ==== NAVBAR STYLES ==== */
    .navbar .navbar-icon {
        display: none;
    }
    .navbar .navbar-link {
        position: static;
        z-index: 1;
        background-color: transparent;
        box-shadow: unset;
        padding: 0;
        height: auto;
        flex-direction: row;
        gap: 40px;
    }
    .navbar .navbar-link .navbar-item a {
        font-weight: 500;
        text-decoration: none;
        color: var(--color-dark);
    }
    /* ==== END NAVBAR STYLES ==== */

    /* ==== HERO STYLES ==== */
    .hero {
        background-size: cover;
        background-position: 45% 0%;
    }
    .hero .hero-title {
        font-size: 48px;
        text-align: left;
        gap: 1rem;
    }
    .hero .hero-image {
        width: 50%;
        margin: 0;
    }
    /* ==== END HERO STYLES ==== */

    /* ==== ABOUT STYLES ==== */
    .about .about-text {
        font-size: 32px;
        line-height: 48px;
    }
    /* ==== ABOUT STYLES ==== */

    /* ==== CONTACT US STYLES ==== */
    .contact .contact-list {
        margin-top: 86px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    /* ==== END CONTACT US STYLES ==== */

    /* ==== BLOG PAGE ==== */
    .blog-page .blog-title {
        font-size: 48px;
        line-height: 56px;
    }
    .blog-page .blog-meta-info {
        font-size: 24px;
    }
    .blog-page .blog-content {
        font-size: 20px;
        line-height: 32px;
    }
    /* ==== END BLOG PAGE ==== */

    /* ==== FOOTER STYLES ==== */
    .footer {
        gap: 45px;
    }
    .footer .footer-link,
    .footer .footer-media {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer .footer-media img {
        width: 32px;
        height: 32px;
    }
    /* ==== END FOOTER STYLES ==== */
}

/* ==== **** DESKTOP STYLES - 1440px **** ==== */
@media screen and (min-width: 1440px) {
    /* ==== VARIABLES ==== */
    :root {
        --padding: 60px 120px;
        --paddingX: 120px;
        --paddingY: 60px;
    }
    /* ==== END VARIABLES ==== */

    /* ==== GENERAL STYLES ==== */
    .section-title {
        font-size: 40px;
    }
    /* ==== END GENERAL STYLES ==== */

    /* ==== HERO STYLES ==== */
    .hero {
        padding: var(--padding);
        flex-direction: row;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .hero .hero-image {
        position: absolute;
        bottom: 0;
        right: var(--paddingX);
        width: 468px;
    }
    /* ==== END HERO STYLES ==== */

    /* ==== BLOG STYLES ==== */
    .blog-list .blog-list-head {
        align-items: start;
        flex-direction: row;
    }
    .blog .blog-list .blog-list-side .blog-card {
        flex-direction: row;
        justify-content: space-between;
        max-width: max-content;
        gap: 30px;
    }
    .blog .blog-list .blog-list-side .blog-card .blog-card-img {
        height: 208px;
    }
    /* ==== END BLOG STYLES ==== */

    /* ==== BLOG PAGE ==== */
    .blog-page .blog-meta {
        flex-direction: row;
        gap: 30px;
    }
    .blog-page .blog-img {
        width: 100%;
        aspect-ratio: 16/9;
        max-width: 480px;
    }
    /* ==== END BLOG PAGE ==== */

    /* ==== FOOTER STYLES ==== */
    .footer .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    /* ==== END FOOTER STYLES ==== */
}
